<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<title>Detail</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<main>
		<div class="container mt-5">
			<div class="small-container single-product">
				<div class="row" th:object="${item}">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<img
									src="/assets/images/bep-tu-doi-thong-minh-mijia-mdcld01acm-1.jpg"
									width="100%" id="productImg">
							</div>
						</div>

						<div class="small-img-row mt-3">
							<div class="small-img-col">
								<img src="/assets/images/bep-dien-tu-zhiwu-zhu__nnn_.jpg"
									width="100%" class="small-img img-thumbnail">
							</div>
							<div class="small-img-col">
								<img src="/assets/images/may-massage-chan-leravan_n_.jpg"
									width="100%" class="small-img img-thumbnail">
							</div>
							<div class="small-img-col">
								<img src="/assets/images/c66752476f22274d8fdd89594ae2a168.jpg"
									width="100%" class="small-img img-thumbnail">
							</div>
							<div class="small-img-col">
								<img src="/assets/images/DCFBCD0ED8-SP-11426226-1-800x800.jpg"
									width="100%" class="small-img img-thumbnail">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<p></p>
						<h1>[[${item.tenSP}]]</h1>
						<h4>$[[${item.gia}]]</h4>
						<select style="display: block; padding: 10px; margin-top: 20px;">
							<option>Cỡ lớn hơn</option>
							<option>Màu hồng</option>
							<option>Cỡ nhỏ hơn</option>
						</select> <input class="mt-2" type="number" min="1" value="1"
							ng-model="item.soLuong"> <a href="" id="prodetail"
							class="btn-add" style="text-decoration: none; color: #fff"
							th:attr="ng-click=@{|cart.add(${item.maSP})|}">Thêm vào giỏ
							hàng</a>

						<h3>Chi tiết sản phẩm</h3>

						<p>Thiết kế sang trọng, hiện đại.</p>
						<p>Công suất lớn, tiết kiệm thời gian nấu.</p>
						<p>Tùy chỉnh mức nhiệt nấu, đầy đủ các trang bị an toàn.</p>
						<p>Hỗ trợ kết nối APP thông minh.</p>
					</div>
				</div>
			</div>
		</div>



		<section id="pricing"
			class="padd-section text-center wow fadeInUp mt-5"
			style="visibility: visible; animation-name: fadeInUp;">
			<div class="section-header">
				<h2 class="section-title">Sản phẩm liên quan</h2>
			</div>
			<div class="container">
				<div class="row">

					<div class="col-md-4 col-6 col-sm-6 col-lg-3 pb-3">
						<div class="block-pricing">
							<div class="table">
								<div class="special-img position-relative overflow-hidden">
									<img src="/assets/images/c66752476f22274d8fdd89594ae2a168.jpg"
										class="w-100"> <span
										class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">Sale</span>
								</div>
								<ul class="list-unstyled">
									<li><b>Name Product</b></li>
									<li><b>Price</b></li>
								</ul>
								<div class="text-center">
									<div class="rating mt-3">
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-6 col-sm-6 col-lg-3 pb-3">
						<div class="block-pricing">
							<div class="table">
								<div class="special-img position-relative overflow-hidden">
									<img
										src="/assets/images/bep-tu-doi-thong-minh-mijia-mdcld01acm-1.jpg"
										class="w-100"> <span
										class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
								</div>
								<ul class="list-unstyled">
									<li><b>Name Product</b></li>
									<li><b>Price</b></li>
								</ul>
								<div class="text-center">
									<div class="rating mt-3">
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-6 col-sm-6 col-lg-3 pb-3">
						<div class="block-pricing">
							<div class="table">
								<div class="special-img position-relative overflow-hidden">
									<img src="/assets/images/may-massage-chan-leravan_n_.jpg"
										class="w-100"> <span
										class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
								</div>
								<ul class="list-unstyled">
									<li><b>Name Product</b></li>
									<li><b>Price</b></li>
								</ul>
								<div class="text-center">
									<div class="rating mt-3">
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-6 col-sm-6 col-lg-3 pb-3">
						<div class="block-pricing">
							<div class="table">
								<div class="special-img position-relative overflow-hidden">
									<img src="/assets/images/DCFBCD0ED8-SP-11426226-1-800x800.jpg"
										class="w-100"> <span
										class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
								</div>
								<ul class="list-unstyled">
									<li><b>Name Product</b></li>
									<li><b>Price</b></li>
								</ul>
								<div class="text-center">
									<div class="rating mt-3">
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script>
			document.querySelector('#prodetail').addEventListener('click', (event) => {
	            event.preventDefault();
	            Swal.fire({
	            	icon: 'success',
	            	title: 'Thêm thành công!',
	            	showConfirmButton: true,
	            	timer: 1500
	           })
	        })	
		
			var productImg = document.getElementById("productImg");
			var SmallImg = document.getElementsByClassName("small-img");

			SmallImg[0].onclick = function() {
				productImg.src = SmallImg[0].src;
			}
			SmallImg[1].onclick = function() {
				productImg.src = SmallImg[1].src;
			}
			SmallImg[2].onclick = function() {
				productImg.src = SmallImg[2].src;
			}
			SmallImg[3].onclick = function() {
				productImg.src = SmallImg[3].src;
			}
		</script>
	</main>
</body>

</html>