<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<title>Detail</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<main th:object="${item}"> <!--Khai báo đối tượng chứa dữ liệu các trường, duyệt qua các item được truyền từ controller qua-->
		<div class="container mt-5">
			<div class="small-container single-product">
				<div class="row">
					<div class="col-sm-6">
						<img th:src="@{|/assets/images/*{hinhAnh}|}" width="100%"
							id="productImg" class="img-thumbnail">

<!-- 						<div class="small-img-row mt-3"> -->
<!-- 							<div class="small-img-col"> -->
<!-- 								<img th:src="@{|/assets/images/*{hinhAnh}|}" width="100%" -->
<!-- 									class="small-img img-thumbnail"> -->
<!-- 							</div> -->
<!-- 							<div class="small-img-col"> -->
<!-- 								<img th:src="@{|/assets/images/*{hinhAnh}|}" width="100%" -->
<!-- 									class="small-img img-thumbnail"> -->
<!-- 							</div> -->
<!-- 							<div class="small-img-col"> -->
<!-- 								<img th:src="@{|/assets/images/*{hinhAnh}|}" width="100%" -->
<!-- 									class="small-img img-thumbnail"> -->
<!-- 							</div> -->
<!-- 							<div class="small-img-col"> -->
<!-- 								<img th:src="@{|/assets/images/*{hinhAnh}|}" width="100%" -->
<!-- 									class="small-img img-thumbnail"> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</div>
					<div class="col-sm-6">
						<p></p>
						<h1>[[*{tenSP}]]</h1> <!--* truy xuất các thuộc tính-->
						<h4>[[*{gia}]] ₫</h4>
						<select style="display: block; padding: 10px; margin-top: 20px;">
							<option th:if="*{soLuong} > 0">Còn hàng</option>
							<option th:if="*{soLuong} < 0">Hết hàng</option>
						</select>
						<a href="" class="btn-add"
							style="text-decoration: none; color: #fff"
							th:attr="ng-click=@{|cart.add(${item.maSP})|}">Thêm sản phẩm</a>
						<h3>Chi tiết sản phẩm</h3>
						<p>[[*{moTa}]]</p>
					</div>
				</div>
			</div>
		</div>

		<section id="pricing"
			class="container padd-section text-center wow fadeInUp mt-5"
			style="visibility: visible; animation-name: fadeInUp;">
			<div class="section-header">
				<h2 class="section-title">Sản phẩm liên quan</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-6 col-sm-6 col-lg-3 pb-3"
						th:each="p: *{danhMuc.sanPham}"> <!--duyệt qua các mặt hàng trong danhmuc, sản phẩm cùng loại đang xem -->
						<div class="block-pricing">
							<div class="table">
								<div class="special-img position-relative overflow-hidden">
									<a th:href="@{|/productDetail/${p.maSP}|}"> <img
										th:src="@{|/assets/images/${p.hinhAnh}|}" width="100%" height="100%"></a> <span
										class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">Sale</span>
								</div>
								<ul class="list-unstyled">
									<li><b class="mb-3" th:href="@{|/productDetail/${p.maSP}|}"
										th:text="${p.tenSP}"></b></li>
									<li><b class="text-danger" th:href="@{|/productDetail/${p.maSP}|}"
										th:text="${p.gia}"></b></li>
								</ul>
							</div>
						</div>
					</div>


					<!-- <div class="col-md-4 col-6 col-sm-6 col-lg-3 pb-3">
						<div class="block-pricing">
							<div class="table">
								<div class="special-img position-relative overflow-hidden">
									<img
										src="/assets/images/bep-tu-doi-thong-minh-mijia-mdcld01acm-1.jpg"
										class="w-100"> <span
										class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
								</div>
								<ul class="list-unstyled">
									<li><b>Name Product</b></li>
									<li><b>Price</b></li>
								</ul>
								<div class="text-center">
									<div class="rating mt-3">
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
										<span class="text-primary_1"><i class="fas fa-star"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</section>

		<script>
			var productImg = document.getElementById("productImg");
			var SmallImg = document.getElementsByClassName("small-img");

			SmallImg[0].onclick = function() {
				productImg.src = SmallImg[0].src;
			}
			SmallImg[1].onclick = function() {
				productImg.src = SmallImg[1].src;
			}
			SmallImg[2].onclick = function() {
				productImg.src = SmallImg[2].src;
			}
			SmallImg[3].onclick = function() {
				productImg.src = SmallImg[3].src;
			}
		</script>
	</main>
</html>