<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
    <title>Digizone</title> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <main>
        <section class="container mt-4 mb-4">
            <div class="row d-flex align-items-start justify-content-center">
                <span class="d-none" id="username">[[${#request.remoteUser}]]</span>
                <div class="col-8">
                    <div class="h5 text-center">Danh sách sản phẩm</div>
                    <table class="">
                        <tr ng-repeat="item in cart.items">
                            <td>
                                <div class="cart-info">
                                    <img ng-src="{{'/assets/images/' + item.hinhAnh}}" alt=""
                                        width="100%" height="100%">
                                    <div>
                                        <p class="product-name">{{item.tenSP}}</p>
                                        <small class="product-price">{{item.gia | number : 0}} ₫</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form action="">
                                    <div class="form-group">
                                        <small class="product-price">{{item.soLuong}}</small>
                                    </div>
                                </form>
                            </td>
                            <td>{{item.gia * item.soLuong | number : 2}} ₫</td>
                        </tr>
                    </table>

                    <div class="total-price">
                        <table>
                            <tr>
                                <td>VAT</td>
                                <td ng-model="item.vat">{{cart.amount * 0.05 | number : 2}} ₫</td>
                            </tr>
                            <tr>
                                <td>Tổng tiền</td>
                                <td>{{cart.amount - cart.amount * 0.05| number : 2}} ₫</td>
                            </tr>
                        </table>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="" th:object="${taiKhoan}">
                        <div class="h5 text-center">Thông tin đặt hàng</div>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Họ và tên" th:value="${taiKhoan.hoTen}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Điện thoại"  th:value="${taiKhoan.sdt}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email"  th:value="${taiKhoan.email}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Địa chỉ"  th:value="${taiKhoan.diaChi}">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" ng-model="order.ghiChu" placeholder="Ghi chú"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="thanhToan" id="" ng-model="order.thanhToan" value="0"> Thanh toán khi nhận hàng
                                <input type="radio" name="thanhToan" id="" data-toggle="modal" data-target="#myModal"
                                    ng-model="order.thanhToan" value="1"> Momo
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body d-flex align-items-center justify-content-center">
                                        <img ng-src="/assets/images/qr-momo.jpg" alt="" width="70%">
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
    
                        <div class="order-button text-white d-flex justify-content-center">
                            <button type="button"
                                ng-click="order.purcharse()">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>