<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
    <title>Digizone</title> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <main>
        <section id="pricing" class="padd-section text-center wow fadeInUp mt-5" style="visibility: visible; animation-name: fadeInUp;">
            <div class="section-header">
                <h2 class="section-title">Đơn Hàng</h2>
            </div>
            
            <div class="section-title">
                <div class="" style="background-color: #87A2FB;">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 mb-sm-4" th:each ="o : ${orders}">
                                <div class="card card-stepper text-black mb-sm-4 h-100" style="border-radius: 16px;">
                                    <div class="card-body p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <div>
                                                <h5 class="mb-0">Đơn hàng 
                                                	<span class="text-primary font-weight-bold">#[[${o.maHD}]]</span>
                                                </h5>
                                            </div>
                                            <div class="text-end">
                                                <p class="mb-0">Ngày đặt hàng: 
                                                	<span>[[${o.ngayTao}]]</span>
                                               	</p>
                                                <p class="mb-0">Tổng số tiền: 
                                                	<span class="font-weight-bold">₫1.500.000</span>
                                               	</p>
                                            </div>
                                        </div>
                                        <!-- Trạng thái -->
                                        <div class="">
                                            <ul id="progressbar-2" class="d-flex justify-content-between 
                                                mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                <!--Trạng thái 1 -->
                                                <th:block th:if="${o.trangThai} == 1">
                                                    <li class="step0 active text-center" id="step1"></li>
                                                    
                                                    <li class="step0 text-center" id="step2"></li>
                                                    
                                                    <li class="step0 text-center" id="step3"></li>
                                                    
                                                    <li class="step0 text-center" id="step4"></li>
                                                </th:block>
                                                
                                                <!--Trạng thái 2 -->
                                                <th:block th:if="${o.trangThai} == 2">
                                                    <li class="step0 active text-center" id="step1"></li>
                                                    
                                                    <li class="step0 active text-center" id="step2"></li>
                                                    
                                                    <li class="step0 text-center" id="step3"></li>
                                                    
                                                    <li class="step0 text-center" id="step4"></li>
                                                </th:block>
                                                
                                                <!--Trạng thái 3 -->
                                                <th:block th:if="${o.trangThai} == 3">
                                                    <li class="step0 active text-center" id="step1"></li>
                                                    
                                                    <li class="step0 active text-center" id="step2"></li>
                                                    
                                                    <li class="step0 active text-center" id="step3"></li>
                                                    
                                                    <li class="step0 text-center" id="step4"></li>
                                                </th:block>
                                                
                                                <!--Trạng thái 4 -->
                                                <th:block th:if="${o.trangThai} == 4">
                                                    <li class="step0 active text-center" id="step1"></li>
                                                    
                                                    <li class="step0 active text-center" id="step2"></li>
                                                    
                                                    <li class="step0 active text-center" id="step3"></li>
                                                    
                                                    <li class="step0 active text-center" id="step4"></li>
                                                </th:block>
                                            </ul>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-lg-flex align-items-center">
                                                <div>
                                                    <p class="fw-bold mb-1">Đơn hàng</p>
                                                    <p class="fw-bold mb-0">Đang xử lý</p>
                                                </div>
                                            </div>
                                            <div class="d-lg-flex align-items-center">
                                                <div>
                                                    <p class="fw-bold mb-1">Đơn hàng</p>
                                                    <p class="fw-bold mb-0">Đang vận chuyển</p>
                                                </div>
                                            </div>
                                            <div class="d-lg-flex align-items-center">
                                                <div>
                                                    <p class="fw-bold mb-1">Đơn hàng</p>
                                                    <p class="fw-bold mb-0">Đang được giao</p>
                                                </div>
                                            </div>
                                            <div class="d-lg-flex align-items-center">
                                                <div>
                                                    <p class="fw-bold mb-1">Đơn hàng</p>
                                                    <p class="fw-bold mb-0">Đã được giao</p>
                                                </div>
                                            </div>
                                        </div>
                                       <a class="mt-4 d-inline-flex" th:href="@{|/order/orderDetail/${o.maHD}|}">Chi tiết đơn hàng</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>