<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <title>Digizone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <main>
        <section id="pricing" class="padd-section text-center wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="container" style="margin-top:20px;" ng-repeat="item in pager.items">
                        <div class="d-style btn btn-brc-tp border-2 bgc-white 
                            btn-outline-blue btn-h-outline-blue btn-a-outline-blue 
                            w-100 my-2 py-3 shadow p-3 bg-white rounded">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-4">
                                    <h5 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                                        Đơn hàng #{{item.maHD}}
                                    </h5>

                                    <div class="text-secondary-d1 text-120">
                                        <span class="ml-n15 align-text-bottom">{{item.ngayTao}}</span>
                                    </div>
                                </div>

                                <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 
                                    text-left my-4 my-md-0 d-flex justify-content-center">
                                    <!-- Chờ xử lý -->
                                    <div ng:if="item.trangThai == 1">
                                        <li class="mt-25">
                                            <i class="fas fa-check-circle text-success-m2 text-110 mr-2 mt-1"></i>
                                            <span class="text-110">Đang xử lý</span>
                                        </li>
                                    </div>

                                    <!-- Đã thanh toán -->
                                    <div ng:if="item.trangThai == 2">
                                        <li class="mt-25">
                                            <i class="fas fa-money-check-alt text-success-m2 text-110 mr-2 mt-1"></i>
                                            <span class="text-110">Đã thanh toán</span>
                                        </li>
                                    </div>

                                    <!-- Đang vận chuyển -->
                                    <div ng:if="item.trangThai == 3">
                                        <li class="mt-25">
                                            <i class="fas fa-truck text-success-m2 text-110 mr-2 mt-1"></i>
                                            <span class="text-110">
                                                Đang vận chuyển
                                            </span>
                                        </li>
                                    </div>

                                    <!-- Đã giao hàng -->
                                    <div ng:if="item.trangThai == 4">
                                        <li class="mt-25">
                                            <i class="fas fa-box text-success-m2 text-110 mr-2 mt-1"></i>
                                            <span class="text-110">
                                                Đã giao hàng
                                            </span>
                                        </li>
                                    </div>
                                </ul>

                                <div class="col-12 col-md-4 text-center">
                                    <button type="button" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" 
                                        ng-click="detail(item)">Chi tiết</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-pager" id="blog-pager">
                        <ul class="pagination justify-content-center">

                            <li class="">
                                <a href="" ng-click="pager.first()">&#8676;</a>
                            </li>
                            <li class="">
                                <a href="" ng-click="pager.prev()">&#171;</a>
                            </li>
                            <li class="">
                                <a href="">{{pager.page + 1}} of {{pager.count}}</a>
                            </li>
                            <li class="">
                                <a href="" ng-click="pager.next()"> &#187;</a>
                            </li>

                            <li class="">
                                <a href="" ng-click="pager.last()"> &#8677;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                     
            </div>
        </section>
    </main>
</body>

</html>