<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<title>Digizone</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<main th:object="${order}">
		<section id="pricing"
			class="padd-section wow fadeInUp mt-5  mb-5"
			style="visibility: visible; animation-name: fadeInUp;">

			<div class="section-header">
				<h2 class="section-title text-center">Chi Tiết Đơn Hàng</h2>
			</div>

			<div class="container-fluid" style="background-color: #87A2FB;">
				<div class="container">
					<div class="d-flex align-items-center justify-content-between py-3">
						<h5 class="mb-0">
							Đơn hàng
							<span class="font-weight-bold">#[[*{maHD}]]</span>
						</h5>
					</div>
					
					<div class="row d-flex align-items-start justify-content-center">
						<div class="col-lg-7">
							<div class="card h-100 mb-4">
								<div class="card-body">
									<div class="d-flex align-items-center justify-content-start mb-3">
										<span class="me-3 mr-3">[[*{ngayTao}]]</span>
										<span class="badge rounded-pill bg-info">
											<!--Trạng thái 1 -->
												<th:block th:if="*{trangThai} == 1">
													Đang xử lý
												</th:block> 
											<!--Trạng thái 2 -->
												<th:block th:if="*{trangThai} == 2">
													Đang vận chuyển
												</th:block>
											<!--Trạng thái 3 -->
												<th:block th:if="*{trangThai} == 3">
													Đang giao
												</th:block>
											<!--Trạng thái 4 -->
												<th:block th:if="*{trangThai} == 4">
													Giao hàng thành công
												</th:block>
										</span>
									</div>

									<table class="table table-borderless">
										<tbody>
											<tr>
												<td class="text-end">Sản phẩm</td>
												<td class="text-end">Số lượng</td>
												<td class="text-end">Đơn giá</td>
												<td class="text-end">Thành tiền</td>
											</tr>
											
											<tr th:each="detail : *{hoaDonChiTiet}" th:object="${detail}">
												<td class="text-end">
													<div class="d-flex mb-2">
														<div class="flex-shrink-0">
															<img th:src="@{|/assets/images/*{sanPham.hinhAnh}|}"
																alt="" width="100" class="img-fluid">
														</div>
														<div class="flex-lg-grow-1 ms-3">
															<h6 class="small mb-0">
																<a href="#" class="text-reset">[[*{sanPham.tenSP}]]</a>
															</h6>

														</div>
													</div>
												</td>
												<td class="text-end">[[*{soLuong}]]</td>
												<td class="text-end">[[*{sanPham.gia}]]₫</td>
												<td class="text-end">[[*{soLuong} * *{sanPham.gia}]] ₫</td>
											</tr>
										</tbody>

										<tfoot>
											<tr>
												<td>Tổng tiền hàng</td>												
												<td>Phí vận chuyển</td>
												<td>Giảm giá</td>
												<td>Tổng số tiền</td>
											</tr>
											<tr th:each="detail : *{hoaDonChiTiet}" th:object="${detail}">
												<td class="text-end">[[*{soLuong} * *{sanPham.gia}]]</td>
												<td class="text-end">20.000đ</td>
												<td class="text-danger text-end">[[*{giamGia}]]</td>
												<td class="text-end">[[*{soLuong} * *{sanPham.gia} -
													*{giamGia}]]</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>

						<div class="col-lg-5">
							<div class="card h-100 mb-4">
								<div class="card-body">
									<form action="">
										<div class="form-group">
											<div class="h6">Ghi chú khách hàng</div>
											<textarea class="form-control" ng-model="order.ghiChu">[[*{ghiChu}]]</textarea>
										</div>
									</form>

									<div class="row text-center mt-sm-2">
										<div class="col-sm-4">
											<div class="h6">Hình thức thanh toán</div>
											<img src="/assets/images/mo-mo.jpg"
												alt="" width="50" class="img-fluid"> <br> 
											<div class="">Momo</div>
										</div>

										<div class="col-sm-8">
											<div class="h6">Thông tin người nhận</div>
											<div class="row d-flex justify-content-end">
												<div class="col-5 text-left">
													<span>Người mua</span>
													<br>
													<span>Địa chỉ</span>
													<br>
													<span>Điện thoại</span>
												</div>
												<div class="col-7 text-left">
													<span>[[*{taiKhoan.hoTen}]]</span>
													<br>
													<span>[[*{diaChi}]]</span>
													<br>
													<span>[[*{taiKhoan.sdt}]]</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="order-button text-white d-flex align-items-center 
										justify-content-center">
										<button type="button" ng-click="order.update()">Cập nhật</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>