<!-- <!DOCTYPE html> -->
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org" -->
<!-- 	th:replace="~{/admin/layout/index :: dynamic(~{::main})}"> -->

<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<!-- <title>Tài khoản</title> -->
<!-- </head> -->

<!-- <body id="reportsPage"> -->
<!-- 	<main> -->
		<div class="container mt-5">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12  tm-block-col">
					<h5 class="text-white mb-4 tm-block-title">Tài khoản</h5>
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<div class="tm-product-table-container">
							<table class="table table-hover tm-table-small tm-product-table">
								<thead>
									<tr>
										<th>Anh</th>
										<th scope="col">Username</th>
										<th scope="col">Mã VT</th>
										<th scope="col">Mật khẩu</th>
										<th scope="col">Họ tên</th>
										<th scope="col">Giới tính</th>
										<th scope="col">Email</th>
										<th scope="col">SDT</th>
										<th scope="col">Địa chỉ</th>
										<th scope="col">CMND</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in items">
										
										<td>
											<img  ng-src="{{'/assets/images/' + item.hinhAnh}}" width="50" height="50">
										</td>
										
										<td>{{item.tenND}}</td>
										<td>{{item.maVT}}</td>
										<td>{{item.matKhau}}</td>
										<td>{{item.hoTen}}</td>
										<td>{{item.gioiTinh?'Nam':'Nữ'}}</td>
										<td>{{item.email}}</td>
										<td>{{item.sdt}}</td>
										<td>{{item.diaChi}}</td>
										<td>{{item.cmnd}}</td>
										<td><a ng-click="delete(item)" class="tm-product-delete-link"> <i
												class="far fa-trash-alt "></i>

										</a></td>
										<td><a ng-click="edit(item)" class="tm-product-delete-link"> <i class="far fa-edit"></i>

										</a></td>

									</tr>
									
									
									
									
									


								</tbody>
							</table>
						</div>
						<a href="#!account-add"
							class="btn btn-primary btn-block text-uppercase mb-3">Thêm
							mới tài khoản</a>
					</div>
				</div>
			</div>


		</div>

		</div>

		<script src="js/jquery-3.3.1.min.js"></script>
		
		
		
		
		
		<script src="js/bootstrap.min.js"></script>
		
		

<!-- 	</main> -->
<!-- </body> -->

<!-- </html> -->