<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Đơn hàng</title>
</head>
<body>
	<main>
	<div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Đơn hàng</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mã đơn hàng</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Ngày bán </th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Ngày sửa</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Chi tiết</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in items">
                                    <th scope="row">#<b>{{item.maHD}}</b></th>
                                    <td><b>{{item.taiKhoan.tenND}}</b></td>
                                    <td>{{item.ngayBan}}</td>
                                    <td>{{item.ngayTao}}</td>
                                    <td>{{item.ngaySua}}</td>
                                    <td>
                                        <span style="font-size: 90%" class="badge badge-pill badge-secondary" ng-if="item.trangThai == 1">Chờ xác nhận</span>
                                        <span style="font-size: 90%" class="badge badge-pill badge-primary" ng-if="item.trangThai == 2">Đã thanh toán</span>
                                        <span style="font-size: 90%" class="badge badge-pill badge-info" ng-if="item.trangThai == 3">Đang vận chuyển</span>
                                        <span style="font-size: 90%" class="badge badge-pill badge-success" ng-if="item.trangThai == 4">Giao thành công</span>
                                        <span style="font-size: 90%" class="badge badge-pill badge-danger" ng-if="item.trangThai == 5">Đã huỷ</span>
                                    </td>
                                    <td>
                                        <a ng-click="edit(item)" class="tm-product-delete-link">
                                          <i class="fas fa-info tm-product-delete-icon"></i>
                                        </a>
                                      </td>
                                </tr>


                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
	</main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>