<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<title>Digizone</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<main>
		<div class="container" th:fragment="shopping_cart">
			<div id="username" style="display: none;">[[${#request.remoteUser}]]</div>
			<div class="cart-page">
				<div class="cart-null" ng:if="cart.count == 0">
					<div class="text-center">
						<img class="cart-null-img" src="/assets/images/cartnull.png"
							alt=""/>
						<h5>Không có sản phẩm trong giỏ hàng</h5>
						<div class="cart-button d-flex justify-content-center">
							<a class="text-white" th:href="@{/}"
								style="text-decoration: none;">Mua sắm ngay</a>
						</div>
					</div>
				</div>
				
				<div class="row" ng:if="cart.count != 0">
					<div class="col-7">
						<div class="card border-0 h-100">
							<div class="card-body">
								<div class="">
									<div class="h5 text-center">Giỏ hàng</div>
									<table>
										<tr>
											<th>Sản phẩm</th>
											<th>Số lượng</th>
											<th>Thành tiền</th>
										</tr>
				
										<tr ng-repeat="item in cart.items">
											<td>
												<div class="cart-info">
													<img ng-src="{{'/assets/images/' + item.hinhAnh}}" alt=""
														width="100%" height="100%">
													<div>
														<p class="product-name">{{item.tenSP}}</p>
														<small class="product-price">$ {{item.gia | number :
															0}}</small> <a class="badge badge-pill badge-danger ml-3" href=""
															ng-click="cart.remove(item.id)">Xóa</a>
													</div>
												</div>
											</td>
											<td>
												<form action="">
													<div class="form-group">
														<input type="number" ng-change="cart.saveToLocalStorage()"
															ng-model="item.soLuong" min="1">
													</div>
												</form>
											</td>
											<td>{{item.gia * item.soLuong | number : 2}} ₫</td>
										</tr>
									</table>
				
									<div class="total-price">
										<table>
											<tr>
												<td>Tổng tiền</td>
												<td>{{cart.amount | number : 2}} ₫</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-5">
						<div class="card h-100 border-0">
							<div class="card-body">
								<div class="cart-title text-center h5">Thông tin đặt hàng</div>
								<form action="" method="post">
									<div class="d-none" ng-model="order.taiKhoan" 
										id="tenND">[[${#request.remoteUser}]]</div>
									
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Họ và tên"
											ng-model="order.hoTen">
									</div>
	
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Số điện thoại"
										ng-model="order.dienThoai">
									</div>
									
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email"
										ng-model="order.email">
									</div>
	
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Địa chỉ"
											ng-model="order.diaChi">
									</div>
	
									<div class="form-group">
										<textarea class="form-control" placeholder="Ghi chú"
											ng-model="order.ghiChu"></textarea>
									</div>
									<small class="font-italic text-black" ng-if="order.taiKhoan != null">Vui lòng đăng nhập</small>
									<div class="order-button text-white d-flex justify-content-center">
										<button type="button" ng-if="order.taiKhoan == null"
											ng-click="order.purcharse()">Đặt hàng</button>
										<button type="button" ng-if="order.taiKhoan != null"
											disabled>Đặt hàng</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>