<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<title>Digizone</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<main>
		<div class="container" th:fragment="shopping_cart">
			<span class="d-none" id="username">[[${#request.remoteUser}]]</span>
			<div class="cart-page">
				<div class="cart-null" ng:if="cart.count == 0">
					<div class="text-center">
						<img class="cart-null-img" src="/assets/images/cartnull.png"
							alt=""/>
						<h5>Không có sản phẩm trong giỏ hàng</h5>
						<div class="cart-button d-flex justify-content-center">
							<a class="text-white" th:href="@{/}"
								style="text-decoration: none;">Mua sắm ngay</a>
						</div>
					</div>
				</div>
				
				<div ng:if="cart.count != 0">
					<div class="card border-0 h-100">
						<div class="card-body">
							<div class="">
								<div class="h5 text-center">Giỏ hàng</div>
								<table>
									<tr>
										<th>Sản phẩm</th>
										<th>Số lượng</th>
										<th>Thành tiền</th>
									</tr>
			
									<tr ng-repeat="item in cart.items">
										<td>
											<div class="cart-info">
												<img ng-src="{{'/assets/images/' + item.hinhAnh}}" alt=""
													width="100%" height="100%">
												<div>
													<p class="product-name">{{item.tenSP}}</p>
													<small class="product-price">{{item.gia | number :
														0}} ₫</small><a class="badge badge-pill badge-danger ml-3" href=""
														ng-click="cart.remove(item.id)">Xóa</a>
												</div>
											</div>
										</td>
										<td>
											<form action="">
												<div class="form-group">
													<input type="number" ng-change="cart.saveToLocalStorage()"
														ng-model="item.soLuong" min="1">
												</div>
											</form>
										</td>
										<td>{{item.gia * item.soLuong | number : 2}} ₫</td>
									</tr>
								</table>
			
								<div class="total-price">
									<table>
										<tr>
											<td>VAT</td>
											<td ng-model="item.vat">{{cart.amount * 0.05 | number : 2}} ₫</td>
										</tr>
										<tr>
											<td>Tổng tiền</td>
											<td>{{cart.amount - cart.amount * 0.05| number : 2}} ₫</td>
										</tr>
									</table>
								</div>

								<div class="cart-button">
									<span class="d-none" name="username" id="username">[[${#request.remoteUser}]]</span>
									<a th:href="@{|/order/checkout/${#request.remoteUser}|}"
										class="text-white text-decoration-none">Thanh toán</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>