<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="wrapper">
	<main>

		<div class="container rounded bg-white mt-5">
			<div class="row">
				<div class="col-md-4 border-right">
					<div
						class="d-flex flex-column align-items-center text-center p-3 py-5">
						<img class=""
							src="https://media.istockphoto.com/vectors/default-image-icon-vector-missing-picture-page-for-website-design-or-vector-id1357365823?k=20&m=1357365823&s=612x612&w=0&h=ZH0MQpeUoSHM3G2AWzc8KkGYRg4uP_kuu0Za8GFxdFc="
							width="300" height="300">

					</div>
				</div>
				<div class="col-md-8">
					<div class="p-3 py-5">
						<div
							class="d-flex justify-content-between align-items-center mb-3">
							<div class=" flex-row align-items-center back">
								<i class="fa fa-long-arrow-left mr-1 mb-1"></i> <a href="">Quay
									về trang chủ</a>
							</div>
							<h6 class="text-right">Tài khoản của tôi</h6>
						</div>
						<div class="row mt-2">
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="Họ và tên"
									value="">
							</div>
							<div class="col-md-6">
								<input type="tel" class="form-control" value=""
									placeholder="Điện thoại">
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6">
								<input type="email" class="form-control" placeholder="Email"
									value="">
							</div>
							<div class="col-md-6">
								<input type="tel" class="form-control" value=""
									placeholder="CCCD">
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6">
								<input type="password" class="form-control"
									placeholder="Mật khẩu mới" value="">
							</div>
							<div class="col-md-6">
								<input type="password" class="form-control" value=""
									placeholder="Nhập lại mật khẩu">
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6">
								<textarea class="form-control" rows="5" cols=""></textarea>
							</div>
							<div class="col-md-6">
								<select name="country" id="country" class="form-control">
									<option selected>Giới tính</option>
									<option value="">Nam</option>
									<option value="">Nữ</option>
								</select>
							</div>
						</div>

						<div class="mt-5 text-right">
							<button class="btn btn-outline-info profile-button" type="button">Thay
								đổi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>