<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng nhập</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Fontawesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Link sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="card card-main offset-sm-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 mb-4 text-center col-img col-md-6 col-xl-6 col-lg-6">
                                <img alt="" class="img-fluid w-75 img-login" src="/assets/images/logodigizone.png">
                                <div class="text-white mb-4 mt-5">Or login with</div>
                                <div class="row mb-3 form-box">
                                    <div class="col-4">
                                        <a href="/oauth2/authorization/facebook" class="btn btn-block btn-social btn-facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="/oauth2/authorization/google" class="btn btn-block btn-social btn-google"> <i class="fa fa-google"></i>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="" class="btn btn-block btn-social btn-twitter"> <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                <div class="col-sm-10">
                                    <div class="card card-login text-white">
                                        <div class="card-body">
                                            <h4 class="text-uppercase">Đăng nhập</h4>
                                            <hr class="my-3">
                                            <form th:action="@{/security/login}" method="post">
                                                <div class="form-group">
                                                    <label>Tên đăng nhập*</label> <input name="username" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Mật khẩu*</label> <input name="password" class="form-control" type="password">
                                                </div>
                                                <div th:if="${message != null}">
                                                    <p style="color: #FFFF00;">[[${message}]]</p>
                                                </div>

                                                <hr>
                                                <button class="btn btn-primary text-uppercase w-100 p-2">Đăng
													nhập</button>

												<a th:href="@{|/security/forgot|}">
													<p class="my-2 text-center">Quên mật khẩu?</p>
												</a>
											</form>
                                            <!-- ĐĂNG NHẬP -->

                                            <hr class="my-2">

                                            <!-- ĐĂNG KÝ -->
                                            <button type="button" class="btn btn-success p-2 btn-register" data-toggle="modal" data-target=".bd-example-modal-lg">Tạo tài khoản
												mới</button>

                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="card m-3 card-register">
                                                                    <div class="card-body">
                                                                        <h5 class="modal-title text-uppercase" id="exampleModalCenterTitle">Đăng ký</h5>
                                                                        <hr class="my-2">
                                                                        <p class="text-dark font-italic">Chú ý các nội dung có dấu * bạn cần phải nhập</p>
                                                                        <form id="regis_form" th:action="@{/security/register}" method="post" th:object="${account}">
                                                                            <div class="form-group">
                                                                                <label>Tên đăng nhập*</label> <input name="tenND" class="form-control" type="text">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Email*</label> <input name="email" class="form-control" type="email">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Mật khẩu*</label> <input name="matKhau" class="form-control" type="password">
                                                                            </div>
                                                                            <hr>
                                                                            <button id="registration" type="submit" class="btn btn-primary p-2 text-uppercase w-50">Đăng
																				ký</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 text-center img-register">
                                                                <img alt="" class="img-fluid w-75 img-login" src="/assets/images/logodigizone.png">
                                                                <div class="text-white mb-4 mt-5">Or login with</div>
                                                                <div class="row mb-3 form-box">
                                                                    <div class="col-4">
                                                                        <a href="" class="btn btn-block btn-social btn-facebook">
                                                                            <i class="fa fa-facebook"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <a href="/oauth2/authorization/google" class="btn btn-block btn-social btn-google"> <i class="fa fa-google"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <a href="" class="btn btn-block btn-social btn-twitter"> <i class="fa fa-twitter"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ĐĂNG KÝ -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#registration').addEventListener('click', (event) => {
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure ?',
                text: 'Bạn có muốn đăng ký không ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có, đăng ký'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.querySelector('#regis_form').submit();
                    Swal.fire(
                        'Good job!',
                        'Đăng ký tài khoản thành công !',
                        'success'
                    )
                }
            })
        })

        document.querySelector('#registration').addEventListener('click', (event) => {
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure ?',
                text: 'Bạn có muốn đăng ký không ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có, đăng ký'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.querySelector('#regis_form').submit();
                    Swal.fire(
                        'Good job!',
                        'Đăng ký tài khoản thành công !',
                        'success'
                    )
                }
            })
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>