<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Đơn hàng</title>
</head>
<body>
	<main>
	<div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Đơn hàng</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mã.</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Ngày bán </th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Ngày sửa</th>
                                    <th scope="col">Chi tiết</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                    <td>
                                        <a href="#" class="tm-product-delete-link">
                                          <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                          
                                        </a>
                                      </td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                    <td>
                                        <a href="#" class="tm-product-delete-link">
                                          <i class="far fa-edit-alt tm-product-delete-icon"></i>
                                          
                                        </a>
                                      </td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td><b>Oliver Trag</b></td>
                                    <td>16:00, 12 NOV 2018</td> 
                                    <td>16:00, 12 NOV 2018</td>
                                    <td>08:00, 18 NOV 2018</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
	</main>
</body>
</html>