<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>

<body>
	<main>
		<div class="container tm-mt-big tm-mb-big">
			<div class="row">
				<div class="col-8 mx-auto">
					<h5 class="tm-block-title">Danh mục</h5>
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active"
							data-toggle="tab" data-target="#edit" href="" role="tab"
							aria-controls="home" aria-selected="true">Cập nhật</a></li>
						<li class="nav-item"><a class="nav-link" data-target="#list"
							data-toggle="tab" href="" role="tab" aria-controls="profile"
							aria-selected="false">Danh sách</a></li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="edit" role="tabpanel"
							aria-labelledby="home-tab">
							<!-- Cập nhật -->
							<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
								<div class="form-group mb-3">
									<label for="name">Mã danh mục </label> <input id="name"
										ng-model="form.maDM" type="number" class="form-control"
										required />
								</div>
								<div class="form-group mb-3">
									<label for="name">Tên danh mục </label> <input id="name"
										ng-model="form.tenDM" type="text" class="form-control"
										required />
								</div>
								<div class="col text-center ">
									<button ng-click="add()" class="btn btn-primary m-1">Thêm
										mới</button>
									<button ng-click="update()" class="btn btn-primary m-1">Cập
										nhật</button>
									<button ng-click="delete(form)" class="btn btn-primary m-1">Xóa</button>
									<button ng-click="reset()" class="btn btn-primary m-1">Làm
										mới</button>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="list" role="tabpanel"
							aria-labelledby="profile-tab">
							<!-- Danh sách -->
							<div class="tm-product-table-container">
								<table class="table table-hover tm-table-small tm-product-table">
									<thead>
										<tr>
											<th scope="col">Mã danh mục</th>
											<th scope="col">Tên danh mục</th>
											<th scope="col"></th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cates in items">
											<td>#{{cates.maDM}}</td>
											<td>{{cates.tenDM}}</td>
											<td><button ng-click="delete(cates)"
													class="tm-product-delete-link btn">
													<i class="far fa-trash-alt tm-product-delete-icon"></i>
												</button></td>
											<td><button ng-click="edit(cates)"
													class="text-white tm-product-delete-link btn">
													<i class="far fa-edit"></i>
												</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="js/jquery-3.3.1.min.js"></script>
		<!-- https://jquery.com/download/ -->
		<script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
		<!-- https://jqueryui.com/download/ -->
		<script src="js/bootstrap.min.js"></script>
		<!-- https://getbootstrap.com/ -->
		<script>
			$(function() {
				$("#expire_date").datepicker({
					defaultDate : "10/22/2020"
				});
			});
		</script>
	</main>
</body>
</html>
